
@{
    ViewData["Title"] = "DeleteError";
}

    <div>
        <h1>UH OH!</h1>
        <p>You can't delete this computer!</p>
        <p>It has been assigned before</p>


        <a asp-action="Index">Back to List</a>
    </div>

